- name: Add DotDeb Repo
  apt_repository:
          repo: deb http://packages.dotdeb.org {{ansible_lsb['codename']}} all
          state: present

- name: Process
  include_tasks: process.yml
  when:
          - ansible_machine|lower == 'armhf' or ansible_machine|lower == 'arm64'


- name: Process Arm
  include_tasks: processarm.yml
  when:
          - ansible_machine|lower != 'armhf' or ansible_machine|lower != 'arm64'

